<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="closeDialog()">
  <span class="ant-modal-close-x">
    <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
  </span>
</button>

<nz-collapse>
  <nz-collapse-panel [nzHeader]="'Thông tin tìm kiếm'" [nzActive]="isPanelOpen" [nzShowArrow]="true">
      <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form"style="border: none;">
          <div nz-row [nzGutter]="24" >
            
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzFor]="'field'">Mã Máy Bay</nz-form-label>
                  <nz-form-control>
                    <input nz-input
                      placeholder="Mã máy bay"
                      [formControlName]="'flightcode'"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzFor]="'field'">Loại máy bay</nz-form-label>
                  <nz-form-control>
                    <app-input-select [items]="listType" formControlName="flightType"></app-input-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzFor]="'field'">Hãng máy bay</nz-form-label>
                  <nz-form-control>
                    <app-input-select [items]="listCompany" formControlName="flightCompany"></app-input-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
          </div>
          <div nz-row>
            <div nz-col [nzSpan]="24" class="search-area text-center" style="text-align: center;">
              <button nz-button [nzType]="'primary'">
                <nz-icon nzType="search" nzTheme="outline" />Tìm Kiếm</button>
              <button nz-button (click)="resetForm()">
                <nz-icon nzType="reload" nzTheme="outline" />Làm Mới</button>
              <a class="collapse" (click)="toggleCollapse()">
                Collapse
                <nz-icon [nzType]="isCollapse ? 'down' : 'up'" />
              </a>
            </div>
          </div>
        </form>
  </nz-collapse-panel>
</nz-collapse>

<div class="search-result-list" style="margin-top: 0px; padding-top: 30px;">
<div style="text-align: right;">
  <button nz-button [nzType]="'primary'" class="mr-2" (click)="handlerOpenDialog()">
    <nz-icon nzType="user-add" nzTheme="outline" /> Thêm Mới</button>
  <button nz-button class="bg-green-500 text-white">
    <nz-icon nzType="download" nzTheme="outline" /> Xuất File</button>
</div>
  <!-- <nz-table nzBordered [nzLoading]="isLoading" [nzBordered]="true" nzSize="small">
    <thead>
      <tr>
        <th>Mã Máy Bay</th>
        <th>Tên Máy Bay</th>
        <th>Loại Máy Bay</th>
        <th>Số Ghế</th>
        <th>Số Lượng</th>
        <th>Hình ảnh</th>
        <th>Thao Tác</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </nz-table> -->
  <div class="grid grid-cols-3 gap-3">
    <div style="background: #fff; padding:30px;" class="mt-[20px] relative" *ngFor="let item of listOfData; let i = index">
      <nz-card style="width:400px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]" [nzLoading]="isLoading">
        <nz-card-meta
          nzTitle="{{item.aircraftName}}"
          nzDescription="{{item.ghichu}}"
        ></nz-card-meta>
        <div class="content flex">
          <h1 class="font-semibold">Seat:</h1>
          <p class="text-orange-500 mr-1 ml-1"> {{item.seatBusiness}} </p> <h1 class="font-normal mr-1">Business-</h1>
          <p class="text-orange-500 mr-1"> {{item.seatEconomy}} </p> <h1 class="font-normal mr-1">Economy</h1>
          <p class="text-orange-500 mr-1"> {{item.seatPremiumEconomy}} </p> <h1 class="font-normal mr-1">-Premium Economy</h1>
        </div>
        <div class="flex">
          <h1 class="font-semibold mr-2">Type:</h1>
          <p>{{item.aircraftType}}</p>
        </div>
        <div class="flex">
          <h1 class="font-semibold mr-2">Airline:</h1>
          <p class="mr-1">{{item.airline}}</p>
          <h1 class="font-semibold mr-2">Quantity:</h1>
          <p class="text-orange-500 mr-1">{{item.quantity}}</p>
        </div>
      </nz-card>
      <ng-template #coverTemplate>
        <img
        *ngIf="item.aircraftPicture" 
        [src]="'data:image/png;base64,'+ item.aircraftPicture" 
        alt="" 
        width="100" 
        height="100" 
        style="border-radius: 2px; object-fit: cover;"
    />
      </ng-template>
      <ng-template #actionSetting>
        <nz-icon nzType="setting" />
      </ng-template>
      <ng-template #actionEdit>
        <nz-icon nzType="edit" />
      </ng-template>
      <ng-template #actionEllipsis>
        <nz-icon nzType="ellipsis" />
      </ng-template>
    </div>  
  </div>
  
</div>