<nz-collapse>
    <nz-collapse-panel [nzHeader]="'Thông tin tìm kiếm'" [nzActive]="isPanelOpen" [nzShowArrow]="true">
        <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form"style="border: none;">
            <div nz-row [nzGutter]="24" >
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label [nzFor]="'field'">Tên nhân Viên</nz-form-label>
                    <nz-form-control>
                      <input nz-input
                        placeholder="Tên nhân Viên"
                        [formControlName]="'staffname'"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label [nzFor]="'field'">Mã Nhân Viên</nz-form-label>
                    <nz-form-control>
                      <input nz-input
                        placeholder="Mã Nhân Viên"
                        [formControlName]="'staffcode'"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label [nzFor]="'field'">Điện Thoại</nz-form-label>
                    <nz-form-control>
                      <input nz-input
                        placeholder="Điện Thoại"
                        [formControlName]="'staffphone'"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </div>

                <div nz-col [nzSpan]="24">
                  <nz-form-item>
                    <nz-form-label [nzFor]="'field'">Địa Chỉ</nz-form-label>
                    <nz-form-control>
                      <input nz-input
                        placeholder="Nhập Địa Chỉ"
                        [formControlName]="'address'"
                      />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                
            </div>
            <div nz-row>
              <div nz-col [nzSpan]="24" class="search-area text-center" style="text-align: center;">
                <button nz-button [nzType]="'primary'">
                  <nz-icon nzType="search" nzTheme="outline" />Tìm Kiếm</button>
                <button nz-button (click)="resetForm()">
                  <nz-icon nzType="reload" nzTheme="outline" />Làm Mới</button>
                <a class="collapse" (click)="toggleCollapse()">
                  Collapse
                  <nz-icon [nzType]="isCollapse ? 'down' : 'up'" />
                </a>
              </div>
            </div>
          </form>
    </nz-collapse-panel>
</nz-collapse>

<div class="search-result-list" style="margin-top: 0px; padding-top: 30px;">
  <div style="text-align: right;">
    <button nz-button [nzType]="'primary'" (click)="handlerOpenDialog()">
      <nz-icon nzType="user-add" nzTheme="outline" /> Thêm Mới</button>
    <button nz-button class="bg-green-500 text-white ml-2">
      <nz-icon nzType="download" nzTheme="outline" /> Xuất File</button>
  </div>
    <nz-table nzBordered>
      <thead>
        <tr>
          <th>Mã Nhân Viên</th>
          <th>Tên Nhân Viên</th>
          <th>Địa Chỉ</th>
          <th>Số Điện Thoại</th>
          <th>Chức Vụ</th>
          <th>Thao Tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listOfData; let i = index">
          <td class="text-left">{{ item.staffCode }}</td>
          <td class="text-left">{{ item.staffName }}</td>
          <td class="text-left">{{ item.staffAddress}}</td>
          <td class="text-left">{{ item.staffPhoneNumber }}</td>
          <td class="text-left">{{ item.staffRole }}</td>
          <td class="text-left">{{ item.staffCode }}</td>
        </tr>
      </tbody>
    </nz-table>
</div>