<div class="container flex flex-row mt-[20px]">
  
  <ul nz-menu class="w-1/4 p-10 bg-[#4bb6b7] text-center justify-center">
    <p class="text-white mb-10 font-bold text-xl">Menu User</p>
    <div class="">
        <li nz-menu-item [routerLink]="['/user/profile/info']" class="text-white hover:bg-white focus:text-black">Thông Tin Người Dùng</li>
        <li nz-menu-item [routerLink]="['/user/profile/ticket']" class="text-white  hover:bg-white focus:text-black">Danh Sách vé mua</li>
        <li nz-menu-item [routerLink]="['/user/profile/history']"class="text-white  hover:bg-white focus:text-black">Lịch Sử Mua Vé</li>
    </div>

  </ul>
  <div class="flex ml-2 mt-6 w-3/4">
      <router-outlet></router-outlet>
  </div>
</div>
