/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Nunito Sans";
  }


  .dialog-tab {
    width: 95% !important;
    top: 30px;
    right: 30px;
    position: absolute;
    background-color: #fbfbfb;
    padding: 20px;
    overflow: hidden;
    overflow-y: hidden;
    height: auto;
    min-height: calc(100vh - 64px);
  }