/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Nunito Sans";
  }


  .dialog-tab {
    width: 100% !important;
    top: 64px;
    right: 1px;
    position: absolute;
    background-color: #fbfbfb;
    padding: 20px;
    min-height: calc(100vh - 64px);
    padding: 0;
  }