<div class="w-100% h-auto absolute items-center justify-center">
    <div class="bg-[#4bb6b7] w-100% h-auto p-[15px]">
      <div class="flex justify-center mr-6 ml-6 pt-[10px]">
        <p class="font-bold text-5xl text-white tracking-tight w-[78%] mb-5">Địa Điểm tham quan,du lịch hoạt động và trải nghiệm</p>
      </div>
    </div>
    
    <form class="flex relative w-[100%] h-[100%] items-center justify-center top-[-12px]" [formGroup]="formGroup">
      <app-input-text placeholder="Nhập địa điểm" class="w-[400px]  rounded-sm border-2 "></app-input-text>
      <input-date-range formControlName="dateRange" class="w-[500px] rounded-sm border-2 "></input-date-range>
      <button class="w-[75px] h-[35px] rounded-sm border-2  text-[#ebebeb] text-sm font-bold bg-[#4bb6b7]">Tìm kiếm</button>
    </form>
  
    <div class="ml-40 mr-40 mt-[20px]">
      <div>
        <label for="" class="font-bold text-2xl ">Điểm đến lân cận</label>
      </div>
      <div class="grid grid-cols-4 gap-4 mt-[10px]" >
        <div>
          <img src="../../../asset/hanoi.jpg" alt="hanoi" class="relative rounded-lg">
        </div>
        <div>
          <img src="../../../asset/hanoi.jpg" alt="hanoi" class="relative rounded-lg">
        </div>
        <div>
          <img src="../../../asset/hanoi.jpg" alt="hanoi" class="relative rounded-lg">
        </div>
        <div>
          <img src="../../../asset/hanoi.jpg" alt="hanoi" class="relative rounded-lg">
        </div>
        <div>
          <img src="../../../asset/hanoi.jpg" alt="hanoi" class="relative rounded-lg">
        </div>

        <div>
          <img src="../../../asset/hanoi.jpg" alt="hanoi" class="relative rounded-lg">
        </div>
        <div>
          <img src="../../../asset/hanoi.jpg" alt="hanoi" class="relative rounded-lg">
        </div>
        <div>
          <img src="../../../asset/hanoi.jpg" alt="hanoi" class="relative rounded-lg">
        </div>
      </div>
    </div>
  
    <div class="ml-40 mr-40 mt-[20px]">
      <div>
        <label for="" class="font-bold text-2xl ">Khám Phá Thêm Nhiều Quốc Gia Khác</label>
      </div>
  
      <ul class="flex">
        <li> <button> Châu Á </button>  </li>
        <li> <button> Châu Âu </button>  </li>
        <li> <button> Châu Phi </button>  </li>
        <li> <button> Châu Mỹ </button>  </li>
        <li> <button> Châu Úc </button>  </li>
      </ul>
    </div>
  </div>
  
  
  
  