<div class="w-100% h-auto justify-center flex flex-wrap">
    <div class="w-[1522px] h-[350px]">
        <nz-carousel nzAutoPlay [nzEffect]="effect" [nzLoop]="true" class="">
            <div *ngFor="let item of list" nz-carousel-content>
              <img *ngIf="item.locationPicture"
                   [src]="item.locationPicture"
                   class="carousel-image"/>
            </div>
        </nz-carousel>
    </div>
    <div class="mt-[20px]">
        <label for="" class="font-bold text-2xl">Tìm kiếm và đặt vé máy bay dễ dàng</label>
        <div class="flex flex-wrap mt-8 mb-8 justify-center w-auto">
            <div class="shadow-lg bg-[#FBF9F2] h-auto">
                <ul nz-menu nzMode="horizontal" class="shadow-lg grid grid-cols-3 before:hidden">
                    <li nz-menu-item [routerLink]="['/', 'user','flight-ticket','book']" class="font-medium capitalize p-7 text-center rounded-l-lg bg-[#374b71] text-white">
                        <nz-icon nzType="book" nzTheme="outline" /> Book</li>
                    <li nz-menu-item [routerLink]="['/', 'user','flight-ticket','check']" class="font-medium capitalize p-7 text-center bg-[#374b71] text-white">
                        <nz-icon nzType="mobile" nzTheme="outline" /> Check In</li>
                    <li nz-menu-item [routerLink]="['/', 'user','flight-ticket','mybook']" class="font-medium capitalize p-7 text-center rounded-r-lg bg-[#374b71] text-white">
                        <nz-icon nzType="star" nzTheme="outline" /> My Book</li>
                </ul>
                <div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <label for="" class="font-bold text-2xl mr-auto ml-auto">Các Địa Điểm Trong Nước</label>
        <div class="relative overflow-hidden w-[1250px]">
            <div #slidesContainer class="flex transition-transform duration-300 ease-in-out">
              <div *ngFor="let item of listOfData" class="w-1/5 flex-shrink-0 px-1">
                <div (click)="openHandelDialogSearch()" class="h-80 flex flex-col items-center justify-center rounded-md p-4">
                    <img
                    *ngIf="item.imageUrl"
                    [src]="'data:image/png;base64,' + item.imageUrl"
                    alt=""
                    class="w-80 h-80 object-cover rounded-md mb-4 transform transition-transform duration-300 hover:scale-110"
                  />
                  <div class="text-center">
                    <p class="text-base font-medium">{{ item.name }}</p>
                  </div>
                </div>
              </div>
            </div>
            <button (click)="moveSlide(-1)"
              class="absolute left-2 top-1/2 -translate-y-1/2 bg-white rounded-full p-2 shadow-md hover:bg-gray-100 z-10">
              ‹
            </button>
          
            <button (click)="moveSlide(1)"
              class="absolute right-2 top-1/2 -translate-y-1/2 bg-white rounded-full p-2 shadow-md hover:bg-gray-100 z-10">
              ›
            </button>
          </div>
          
    </div>

    <div>
        <label for="" class="font-bold text-2xl">Mức giá trên những chặng bay phổ biến</label>
        <div *ngFor="let item of listOfPrice">
        <!-- <div class="flex flex-col mt-5" style="border: 1px solid #dcdada;border-radius:15px;padding:20px;"> -->
            <!-- @if (item.typeFlight == 2 && item.typeFlight != 1) {
                <div class="flex flex-col mt-5" style="border: 1px solid #dcdada;border-radius:15px;padding:20px;">
                    <div class="flex flex-row items-center justify-around">
                        <div class="mr-2">
                            <img class="h-[48px] w-[48px]" [src]="'data:image/png;base64,'+ item.airline.imageUrl"  alt="">
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row w-auto">
                                <div class="mr-5">
                                    <h3 class="font-bold">{{item.b_houns}}'</h3>
                                    <div class="flex flex-row w-[200px]">
                                        <p class="mr-2">{{ item.departureLocation |labelValue: listCompany}},</p>
                                        <p>{{item.b_day}}</p>
                                    </div>
                                </div>
                                <div class="item-ke">
                                    <div class="icon-before"></div>
                                    <div class="line"></div>
                                    <div class="icon-affter"></div>
                                    <div class="content">
                                        <span class="fly">Bay Thẳng<br></span>
                                        <span class="time block">{{item.a_houns_flight_formatted}}</span>
                                    </div>
                                </div>
                                <div class="ml-5">
                                    <h3 class="font-bold">{{item.a_houns}}'</h3>
                                    <div class="flex flex-row w-[200px]">
                                        <p class="mr-2">{{ item.arrivalLocation |labelValue: listCompany}},</p>
                                        <p>{{item.a_day}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-row w-auto">
                                <div class="mr-5">
                                    <h3 class="font-bold">{{item.b_rthouns}}'</h3>
                                    <div class="flex flex-row w-[200px]">
                                        <p class="mr-2">{{ item.rtdepartureLocation |labelValue: listCompany}},</p>
                                        <p>{{item.b_rtday}}</p>
                                    </div>
                                </div>
                                <div class="item-ke">
                                    <div class="icon-before"></div>
                                    <div class="line"></div>
                                    <div class="icon-affter"></div>
                                    <div class="content">
                                        <span class="fly">Bay Thẳng<br></span>
                                        <span class="time block">{{item.a_houns_flight_rtformatted}}</span>
                                    </div>
                                </div>
                                <div class="ml-5">
                                    <h3 class="font-bold">{{item.a_rthouns}}'</h3>
                                    <div class="flex flex-row w-[200px]">
                                        <p class="mr-2">{{ item.rtarrivalLocation |labelValue: listCompany}},</p>
                                        <p>{{item.a_rtday}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ml-6 border-s">
                            <div class="ml-6 flex flex-col w-[350px]">
                                <label for="" class="flex flex-row mb-4">
                                    <p>Vật Dụng Cá Nhân,</p>
                                    <p>Hành Lý Sách Tay</p>
                                </label>
                                <label for="" class="font-bold">{{item.price | number }} VND</label>
                                <button nz-button [nzType]="'default'" class="mt-3" (click)="openHandelDialog('view',item)">Xem Chi Tiết</button>
                            </div>
                        </div>
                    </div>
                </div>
            } -->
            <div class="flex flex-col mt-5" style="border: 1px solid #dcdada;border-radius:15px;padding:20px;">
                <div class="flex flex-row items-center justify-around">
                    <div class="mr-2">
                        <img class="h-[64px] w-[64px]" [src]="'data:image/png;base64,'+ item.airline.imageUrl"  alt="">
                    </div>
                    <div class="flex flex-row w-auto">
                        <div class="mr-5">
                            <h3 class="font-bold">{{item.b_houns}}'</h3>
                            <div class="flex flex-row w-[200px]">
                                <p class="mr-2">{{ item.departureLocation |labelValue: listCompany}},</p>
                                <p>{{item.b_day}}</p>
                            </div>
                        </div>
                        <div class="item-ke">
                            <div class="icon-before"></div>
                            <div class="line"></div>
                            <div class="icon-affter"></div>
                            <div class="content">
                                <span class="fly">Bay Thẳng<br></span>
                                <span class="time block">{{item.a_houns_flight_formatted}}</span>
                            </div>
                        </div>
                        <div class="ml-5">
                            <h3 class="font-bold">{{item.a_houns}}'</h3>
                            <div class="flex flex-row w-[200px]">
                                <p class="mr-2">{{ item.arrivalLocation |labelValue: listCompany}},</p>
                                <p>{{item.a_day}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="ml-6 border-s">
                        <div class="ml-6 flex flex-col w-[350px]">
                            <label for="" class="flex flex-row mb-4">
                                <p>Vật Dụng Cá Nhân,</p>
                                <p>Hành Lý Sách Tay</p>
                            </label>
                            <label for="" class="font-bold">{{item.price | number }} VND</label>
                            <button nz-button [nzType]="'default'" class="mt-3" (click)="openHandelDialog('view',item)">Xem Chi Tiết</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="w-100% text-center h-[18px] mt-3">
            <button class="p-[12px] border border-[#ddd] hover:border-sky-500 hover:text-sky-500 " (click)="loadMore()" *ngIf="!isLoading && hasMoreData">Xem Thêm</button>
            <button class="p-[12px] border border-[#ddd] hover:border-sky-500 hover:text-sky-500 " (click)="goToFirstPage()" *ngIf="!isLoading && !hasMoreData">Thu Gọn</button>
            <div *ngIf="isLoading"><app-loading></app-loading></div>
        </div>
    </div>
</div>
