<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="closeDialog()">
  <span class="ant-modal-close-x">
    <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
  </span>
</button>
<div class="flex flex-row">
  <img class="h-[32px] w-[32px]" src="../../../asset/VJ.png" alt="">
  <div class="flex flex-col ml-2">
    <p class="font-semibold">Hà Nội (HAN) đi TP. Hồ Chí Minh (SGN)</p>
    <p>Bay thẳng .2h 30'</p>
  </div>
</div>
<div class="mt-[20px] flex flex-row">
  <div class="item-ke-ngang">
    <div class="item-before"></div>
    <div class="item-line"></div>
    <div class="item-affter"></div>
  </div>
  <div class="flex flex-col items-center">
    <div class="">
      <p>T7, 22 tháng 3 · 21:15</p>
      <p>HAN · Sân bay Quốc tế Nội Bài</p>
    </div>
    <div class="">
      <p>T7, 22 tháng 3 · 21:15</p>
      <p>HAN · Sân bay Quốc tế Nội Bài</p>
    </div>
  </div>
</div>


