<!--header -->
<div class="">
    <div class="bg-[#4bb6b7] w-100% h-auto p-[10px]">
      <div class="flex justify-around w-100%">
        <div class="text-white ml-10 mr-5 font-bold text-xl">TrackingFilght.Com</div>
        
        <div class="flex w-[550px] mb-5 justify-center text-white ">   
            <button class="text-white mx-6 p-1 text-base font-normal" [routerLink]="['/', 'user','flight-ticket','book']">Đăng ký chỗ nghỉ của Qúy Vị</button>
            <div class="bg-white mr-[2%] rounded-lg border-solid border-2 border-sky-500">   
              <button class="text-[#006ce4] mx-6 p-1 text-sm" style="padding:10px" [routerLink]="['/', 'auth','login']">Đăng Ký</button>
            </div>
            <div class="bg-white rounded-lg border-solid border-2 border-sky-500">
              <button class="text-[#006ce4] mx-6 p-1 text-sm" style="padding:10px" [routerLink]="['/', 'auth','login']">Đăng Nhập</button>
            </div>
        </div>
  
      </div>
      <div class="Content-button text-center text-white ml-5 mr-5 h-[50px]">
        <ul class="flex justify-start items-center ml-[10rem]">
          <li>
            <span nz-icon nzType="compass" nzTheme="outline"></span> Địa Điểm
          </li>
          <li>
            <span nz-icon nzType="cloud" nzTheme="outline"></span> Chuyến Bay
          </li>
        </ul>
      </div>
    </div>
    <div class="flex justify-center">
      <router-outlet></router-outlet>
    </div>
</div>