<nz-steps class="w-[1000px]" [nzCurrent]="current">
  <nz-step nzTitle="Loại Vé"></nz-step>
  <nz-step nzTitle="Thông tin của bạn"></nz-step>
  <nz-step nzTitle="Chọn ghế"></nz-step>
  <nz-step nzTitle="Kiểm Tra và Thanh Toán"></nz-step>
</nz-steps>

  <div class="steps-content">
  @if (current == 0) {
    <div class="mb-8 mt-8">
      <label for="">
        {{selectedFlight.typeFlight | labelValue: listType}}
        ·
        1 hành khách
        ·
        {{selectedFlight.departureTime | viDateFormat}}
      </label>
      <h3 class="font-bold text-2xl">Từ {{this.selectedFlight.departureLocation |labelValue:listOfLocation }} đến {{this.selectedFlight.arrivalLocation|labelValue:listOfLocation}}</h3>
    </div>
    <span class="font-bold">Chọn loại vé của bạn</span>
    <div class="flex flex-row mt-2">
      <!-- Vé Tiêu Chuẩn -->
      <div class="flex flex-col" style="border: 1px solid #dcdada;border-radius:15px;padding:20px;">
        <label for="" class="font-bold">Vé Tiêu Chuẩn</label>
        <span class="flex flex-row">
          <p class="pr-2">Tổng giá </p>
          <p class="font-bold"> VND {{this.selectedFlight.price | number}}</p>
        </span>
    
        <div class="flex flex-col mt-1">
          <p>Giá thấp nhất</p>
          <p>
            Không cần sự linh hoạt - bạn chắc chắn về  <br>
            kế hoạch của mình
          </p>
        </div>
    
        <button class="h-[50px] mt-3" nz-button nzType="primary" (click)="next()">
          <span>Tiếp</span>
        </button>
      </div>
    
      <!-- Vé linh hoạt -->
      <div class="flex flex-col ml-4 w-[400px]" style="border: 1px solid #dcdada;border-radius:15px;padding:20px;">
        <label for="" class="font-bold">Vé linh hoạt</label>
        <span class="flex flex-row">
          <p class="pr-2">Tổng giá </p>
          <p class="font-bold"> VND {{this.selectedFlight.price * 1.1 | number}}</p>
        </span>
    
        <div class="flex flex-col mt-1">
          <p>Đổi giờ hoặc ngày bay một lần, lên đến 24 giờ trước giờ cất cánh</p>
          <p>Bay cùng hãng hàng không theo tuyến đã đặt ban đầu</p>
          <p>Không tính phí đổi – chỉ thanh toán giá chênh lệch (nếu có)</p>
        </div>
    
        <label for="" class="font-bold">Cách để thay đổi</label>
        <div class="flex flex-col mt-1">
          <p>Liên hệ Dịch vụ Khách hàng của chúng tôi qua tính năng chat trực tiếp hoặc gọi điện ít nhất 24 giờ trước chuyến bay ban đầu</p>
          <p>Chúng tôi sẽ chia sẻ các chuyến bay còn vé, phù hợp với yêu cầu đổi của bạn</p>
          <p>Chúng tôi sẽ hỗ trợ bạn trong việc thanh toán giá vé chênh lệch và xác nhận chuyến bay mới</p>
        </div>
    
        <button class="h-[50px] mt-3" nz-button nzType="primary" (click)="next()">
          <span>Tiếp</span>
        </button>
      </div>
    
      <!-- Chuyến bay -->
      <div class="ml-3">
        <label for="" class="font-bold">Chuyến bay</label>
        <span class="flex flex-row">
          <p>Người (1)</p>
          <p>VND {{selectedFlight.price | number}}</p>
        </span>
        <div>
          <span class=" flex flex-row font-bold text-xl">
            <p>Tổng</p>
            <p>VND {{totalPrice | number}}</p>
          </span>
        </div>
      </div>
    </div>
  }
  @if (current == 1) {
    <div class="flex flex-row justify-between">
      
      <div>
        <div class="mt-3">
          <label class="font-bold text-xl" for="">Điền thông tin của bạn</label>
          <p class="font-semibold text-sm">Thêm thông tin khách và xem lại lựa chọn hành lý</p>
        </div>
   
       <div class="mt-4 p-5 border border-solid border-[#dcdada] rounded-md items-center w-[450px]">
        <button nz-button nzType="default" class="flex justify-center font-bold p-5 border border-solid border-[#dcdada] rounded-md items-center" (click)="openHandelDialog()">
          {{ userInfo?.name && userInfo?.sdt && userInfo?.gender && userInfo?.email
            ? userInfo.name + ' , ' + userInfo.sdt + ' , ' + userInfo.gender + ' , ' + userInfo.email
            : 'Thêm Thông Tin của bạn' }}
        </button>
         <div>
           <p class="mt-2">1 túi xách nhỏ
             <br>Đã bao gồm
           </p>
           <p class="mt-2">
             1 hành lý cabin
             <br>Đã bao gồm
           </p>
           <label class="mt-5 p-5 border border-solid border-[#dcdada] rounded-md" [(ngModel)]="checked" nz-checkbox (ngModelChange)="updateTotalPrice()">
             Thêm 1 hành lí kí gửi
             + VND 244.136,60 
             20 kg
           </label>
         </div>
       </div>
      </div>

      <div class="mt-[60px]">
        <div class="ml-3">
          <label for="" class="font-bold">Chuyến bay</label>
          <span class="flex flex-row">
            <p>Người lớn (1)</p>
            <p>VND {{this.totalPrice | number}}</p>
          </span>
          <div>
            <span class=" flex flex-row font-bold text-xl mt-10">
              <p>Tổng</p>
              <p>VND {{this.totalPrice | number}}</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  }

  @if (current == 2) {
    <label for="" class="font-bold text-xl">Chọn Ghế</label>
    <div class="mt-10">
      <p class="font-bold text-sm">{{this.selectedFlight.departureLocation | labelValue:listOfLocation }} - {{this.selectedFlight.arrivalLocation | labelValue:listOfLocation}}</p>
      <p>2h 10' · VietJet Aviation</p>
      
      <div class="mt-10 flex flex-row justify-around p-5 border border-solid border-[#dcdada] rounded-md">
        <div class="flex flex-col">
          <p class="font-bold text-sm">{{userInfo.name}}</p>
          <p *ngIf="this.seatData == null">Chưa chọn ghế</p>
          <p>{{this.seatData}}</p>
        </div>

         
    
         <div class="seat-map">
          <!-- Seat Map -->
         <div class="airplane-container">
          <div class="seat-legend">
            <div class="legend-item" *ngFor="let cavity of selectedFlight.aircraft.cavityList">
              <div class="seat-demo" [ngClass]="{'first': cavity.cavityClass === 'First Class', 'economy': cavity.cavityClass === 'Economy Class', 'business': cavity.cavityClass === 'Business Class'}"></div>
              <span>{{cavity.cavityClass}}</span>
            </div>
          </div>
         </div>
         <div *ngFor="let row of rows" class="seat-row" [class.emergency-exit]="isEmergencyExit(row)">
          <!-- Phần bên trái -->
          <div class="section left">
            <div *ngFor="let col of leftSection"
                 class="seat seat-demo"
                 [ngClass]="{
                   'first': seatMap[col + row].type === 'First Class',
                   'business': seatMap[col + row].type === 'Business Class',
                   'economy': seatMap[col + row].type === 'Economy Class',
                   'occupied': seatMap[col + row].status === 'occupied',
                   'selected': selectedSeats.includes(col + row)
                 }"
                 (click)="onSeatSelect(col + row)">
              {{col}}{{row}}
            </div>
          </div>
      
          <!-- Phần giữa -->
          <div class="section middle">
            <div *ngFor="let col of middleSection"
                 class="seat seat-demo"
                 [ngClass]="{
                   'first': seatMap[col + row].type === 'First Class',
                   'business': seatMap[col + row].type === 'Business Class',
                   'economy': seatMap[col + row].type === 'Economy Class',
                   'occupied': seatMap[col + row].status === 'occupied',
                   'selected': selectedSeats.includes(col + row)
                 }"
                 (click)="onSeatSelect(col + row)">
              {{col}}{{row}}
            </div>
          </div>
      
          <!-- Phần bên phải -->
          <div class="section right">
            <div *ngFor="let col of rightSection"
                 class="seat seat-demo"
                 [ngClass]="{
                   'first': seatMap[col + row].type === 'First Class',
                   'business': seatMap[col + row].type === 'Business Class',
                   'economy': seatMap[col + row].type === 'Economy Class',
                   'occupied': seatMap[col + row].status === 'occupied',
                   'selected': selectedSeats.includes(col + row)
                 }"
                 (click)="onSeatSelect(col + row)">
              {{col}}{{row}}
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  }
  @if (current == 3) {
    <div class="mt-10">
      <label for="" class="font-bold text-2xl">Kiểm tra thông tin và thanh toán</label>
      <div class="flex flex-row justify-around">
        <div class="flex flex-col">
          <div class="flex flex-row mt-10 p-[20px] border border-solid border-[#dcdada] rounded-md justify-between items-center">
            <div class="">
              <!-- <img class="h-[64px] w-[64px]" src="../../../../asset/VJ.png" alt=""> -->
              <img class="h-[48px] w-[48px] mr-4" [src]="'data:image/png;base64,'+ this.selectedFlight.airline.imageUrl"  alt="">
            </div>
    
            <div class="ml-5">
                <label for="" class=" text-xl font-bold">{{this.selectedFlight.departureLocation | labelValue:listOfLocation }} ({{this.selectedFlight.departureLocation | labelValue:listOfCodeLocation }}) đi {{this.selectedFlight.arrivalLocation | labelValue:listOfLocation}} ({{this.selectedFlight.arrivalLocation | labelValue:listOfCodeLocation}})</label>
                <p>{{this.selectedFlight.departureTime | viDate}} - {{this.selectedFlight.arrivalTime | viDate}}</p>
                <p>{{this.selectedFlight.typeFlight | labelValue: listType}} · 2h 10'</p>
                <p>{{this.selectedFlight.airline.name}} · {{this.selectedFlight.aircraft.aircraftName}}</p>
            </div>
    
            <div>
              <button nz-button nzType="primary" (click)="openHandelDialogFlight()" >Xem Chi Tiết</button>
            </div>
          </div>
    
          <div class="flex flex-col mt-10 p-[20px] border border-solid border-[#dcdada] rounded-md ">
            <div class="">
              <label for="" class="text-xl font-bold">Thông Tin Liên Lạc </label>
            </div>
    
            <div class="mt-5">
                <p>{{userInfo.sdt}}</p>
                <p>{{userInfo.email}} </p>
            </div>
    
          </div>
    
          <div class="flex flex-col mt-10 p-[20px] border border-solid border-[#dcdada] rounded-md ">
            <div class="">
              <label for="" class="text-xl font-bold">Chi Tiết Khách Hàng </label>
            </div>
    
            <div class="mt-5 flex flex-row">
              <nz-icon class="text-[32px]" nzType="user" nzTheme="outline" />
              <span class="flex flex-col ml-2">
                <p>{{userInfo.name}}</p>
                <p>{{userInfo.gender}} . 12 thang 1,2003</p>
              </span>
            </div>
          </div>
    
          <div class="flex flex-col mt-10 p-[20px] border border-solid border-[#dcdada] rounded-md ">
            <div class="">
              <label for="" class="text-xl font-bold">Hành Lý</label>
            </div>
    
            <div class="mt-5 flex flex-col">
              <p>1 túi xách nhỏ
                Phải vừa với gầm ghế phía trước chỗ ngồi của bạn</p>
    
              <p>
                1 hành lý cabin
                23 x 36 x 56 cm · Trọng lượng tối đa 7 kg
              </p>
    
               <p *ngIf="checked == true">
                 Bao gồm hành lý ký gửi
               </p>
               <p *ngIf="checked == false">
                Không bao gồm hành lý ký gửi
              </p>
            </div>
          </div>
    
          <div class="flex flex-col mt-10 p-[20px] border border-solid border-[#dcdada] rounded-md ">
            <div class="">
              <label for="" class="text-xl font-bold">Ghế Ngồi</label>
            </div>
    
            <div class="mt-5 flex flex-col">
              <p>Đã chọn 1 ghế</p>
              <p>{{this.seatData}}</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="mt-10">
            <label for="" class="font-bold text-2xl">Chuyến bay </label>
            <p class="mt-2 text-[16px]"><nz-icon nzType="user" nzTheme="outline" class="mt-2 text-[16px]"/> 1 người VND {{selectedFlight.price | number}}</p>
          </div>

          <div class="mt-10 border-y border-solid border-[#dcdada] p-[20px]">
            <label for="" class="font-bold text-2xl">Dịch vụ bổ xung</label>
            <p class="text-[16px] mt-2"> Vé Linh Hoạt VND 269.058</p>
            <p class="text-[16px] mt-2">Chỗ ngồi(1) VND 191.948</p>
          </div>

          <p class="mt-10 font-bold text-2xl">Tổng VND {{this.totalPrice | number}}</p>
        </div>
      </div>
      

    </div>
  }
<div class="steps-action">
  @if (current > 0) {
    <button nz-button nzType="default" (click)="pre()">
      <span>Quay Lại</span>
    </button>
  }
  @if (current < 3 && current >= 1) {
    <button nz-button nzType="default" (click)="next()">
      <span>Tiếp</span>
    </button>
  }
  @if (current === 3) {
    <button nz-button nzType="primary" (click)="done()">
      <span>Thanh Toán Ngay</span>
    </button>
  }
  </div>
