<div class="row list-image">
    <!-- Hiển thị danh sách ảnh đã tải lên -->
    <!-- <div class="col-3" *ngFor="let item of listPreviewImages">
        <div class="image-upload">
            <img class="previewImage" [src]="item" alt="Preview" *ngIf="item">
            <a class="image-options list-icons-item action-delete" (click)="handleDeletePreviewImage(item)">
                <span nz-tooltip nzTooltipTitle="Xóa">
                    <i nz-icon nzType="close-circle" nzTheme="fill"></i>
                </span>
            </a>
        </div>
    </div> -->

    <!-- Nếu không có ảnh nào thì hiển thị nút tải lên -->
    <div class="col-3" *ngIf="listPreviewImages.length === 0 && !imageValue">
        <div class="image-upload">
            <input type="file" id="fileInput1" [accept]="acceptTypes" style="display: none;"
                (change)="handlePreviewImage($event)">
            <label for="fileInput1" class="plus-icon">
                <nz-icon nzType="upload" nzTheme="outline" />
            </label>
        </div>
    </div>

    <!-- Hiển thị ảnh từ base64 nếu không có ảnh nào trong listPreviewImages -->
    <div class="col-3"  *ngIf="(imageValue && listPreviewImages.length === 0) || imageValue">
        <div class="image-upload" >
            <img class="previewImage" [src]="'data:image/png;base64,' + imageValue" alt="Preview" *ngIf="imageValue">
            <a class="image-options list-icons-item action-delete" (click)="handleDeletePreviewImage(imageValue)">
                <span nz-tooltip nzTooltipTitle="Xóa">
                    <i nz-icon nzType="close-circle" nzTheme="fill"></i>
                </span>
            </a>
        </div>
    </div>
</div>
