<div class="row list-image">
    <!-- Nếu chưa có ảnh thì hiển thị nút tải lên -->
    <div class="col-3" *ngIf="!imageBase64 && !imageFile">
        <div class="image-upload">
            <input type="file" id="fileInput1" [accept]="acceptTypes" style="display: none;"
                (change)="handlePreviewImage($event)">
            <label for="fileInput1" class="plus-icon">
                <nz-icon nzType="upload" nzTheme="outline"></nz-icon>
            </label>
        </div>
    </div>

    <!-- Hiển thị ảnh từ File -->
    <div class="col-3" *ngIf="imageUrl">
        <div class="image-upload">
            <img class="previewImage" [src]="imageUrl" alt="Preview">
            <a class="image-options list-icons-item action-delete" (click)="handleDeletePreviewImage()">
                <span nz-tooltip nzTooltipTitle="Xóa">
                    <i nz-icon nzType="close-circle" nzTheme="fill"></i>
                </span>
            </a>
        </div>
    </div>

    <!-- Hiển thị ảnh từ Base64 nếu không có ảnh từ File -->
    <div class="col-3" *ngIf="imageBase64 && !imageUrl">
        <div class="image-upload">
            <img class="previewImage" [src]="'data:image/png;base64,' + imageBase64" alt="Preview">
            <a class="image-options list-icons-item action-delete" (click)="handleDeletePreviewImage()">
                <span nz-tooltip nzTooltipTitle="Xóa">
                    <i nz-icon nzType="close-circle" nzTheme="fill"></i>
                </span>
            </a>
        </div>
    </div>
</div>
