<!--header -->
<div class="">
    <div class="bg-[#4bb6b7] w-100% h-auto p-[10px]">
      <div class="flex justify-around w-100%">
        <div class="text-white ml-10 mr-5 font-bold text-xl">Tracking.Com</div>
        <div class="flex w-auto justify-center text-white ">   
            <button class="text-white mx-6 leading-7 font-normal mb-[23px]">VND</button>
            <img src="/asset/vietnam.svg" alt="VND" class="w-[40px] h-[30px]" />
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
</div>


