<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="closeDialog()">
  <span class="ant-modal-close-x">
    <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
  </span>
</button>


<form nz-form [formGroup]="myForm" class="ant-advanced-search-form"style="border: none;">
<div nz-row [nzGutter]="24" >
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'field'">Tên khách hàng</nz-form-label>
        <nz-form-control>
          <app-input-text nz-input
            placeholder="Tên khách hàng"
            [formControlName]="'customername'"
          ></app-input-text>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'field'">Mã khách hàng</nz-form-label>
        <nz-form-control>
          <app-input-text nz-input
            placeholder="Mã khách hàng"
            [formControlName]="'customercode'"
          ></app-input-text>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'field'">Điện Thoại</nz-form-label>
        <nz-form-control>
          <app-input-text nz-input
            placeholder="Điện Thoại"
            [formControlName]="'customerphone'"
          ></app-input-text>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzFor]="'field'">Địa Chỉ</nz-form-label>
        <nz-form-control>
          <app-input-text nz-input
            placeholder="Nhập Địa Chỉ"
            [formControlName]="'address'"
          ></app-input-text>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzFor]="'field'">Email</nz-form-label>
        <nz-form-control>
          <app-input-text nz-input
            placeholder="Nhập Email"
            [formControlName]="'email'"
          ></app-input-text>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzFor]="'field'">CCCD/CMND</nz-form-label>
        <nz-form-control>
          <app-input-text nz-input
            placeholder="Nhập Căng Cước Công Dân"
            [formControlName]="'identity'"
          ></app-input-text>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div nz-col [nzSpan]="12">
      <app-input-image> </app-input-image>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzFor]="'field'">Chức vụ</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn chức vụ" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzFor]="'field'">Giới Tính</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn giới tính" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
        </nz-select>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzFor]="'field'">Cơ Sở</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Chọn Cơ Sở" [(ngModel)]="selectedValue">
          <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
          <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
          <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
        </nz-select>
      </nz-form-item>
    </div>
</div>
</form>

<div class="flex justify-center">
<button nz-button type="button" class="btn btn-default mr-5" (click)="closeDialog()">
  <i nz-icon nzType="close" nzTheme="outline"></i>Đóng
</button>
<!-- lưu và đóng -->
<button nz-button type="button" class="btn btn-primary" (click)="saveData()">
  <i class="icon-plus-circle2 mr-2"></i>
  Lưu và đóng
</button>
</div>
