<div class="mt-5 ml-3">
  <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" class="flex flex-col">
    <div class="flex flex-row">
      <nz-form-item>
        <nz-form-control>
          <nz-radio-group [(ngModel)]="radioValue">
            <label formControlName="Oneway" nz-radio nzValue="One way">Một Chiều</label>
            <label formControlName="Roundtrip" nz-radio nzValue="Round trip">Khứ Hồi</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-select nzPlaceHolder="Chọn Loại Vé" formControlName="travelclass" ngModel="travelclass" style="width: 250px">
            <nz-option nzValue=1 nzLabel="Economy Class"></nz-option>
            <nz-option nzValue=2 nzLabel="Business Class"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label for="" class="mr-2">Passenger</label>
          <nz-input-number nzPlaceHolder="Passenger" [(ngModel)]="Passenger" nzMin="1" nzMax="10" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="flex flex-row mt-4">
      <nz-form-item>
        <nz-form-control nzErrorTip="Hãy Nhập Điểm Đi">
          <input formControlName="form" placeholder="Từ" nz-input [(ngModel)]="inputValue" [nzAutocomplete]="auto" />
        <nz-autocomplete #auto [compareWith]="compareFun">
          @for (option of options; track $index) {
            <nz-auto-option [nzValue]="option" [nzLabel]="option.label">
              {{ option.label }}
            </nz-auto-option>
          }
        </nz-autocomplete>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control formControlName="to" nzErrorTip="Please input your Password!">
          <input placeholder="Đến" nz-input [(ngModel)]="inputValue" [nzAutocomplete]="auto" />
        <nz-autocomplete #auto [compareWith]="compareFun">
          @for (option of options; track $index) {
            <nz-auto-option [nzValue]="option" [nzLabel]="option.label">
              {{ option.label }}
            </nz-auto-option>
          }
        </nz-autocomplete>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-date-picker [nzDateRender]="tplRender" nzPlaceHolder="Ngày Đi"></nz-date-picker>
          <ng-template #tplRender let-current>
            <div class="ant-picker-cell-inner" [class.border]="current.getDate() === 1"> {{ current.getDate() }} </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-date-picker [nzDateRender]="tplRender" nzPlaceHolder="Ngày Về"></nz-date-picker>
          <ng-template #tplRender let-current>
            <div class="ant-picker-cell-inner" [class.border]="current.getDate() === 1"> {{ current.getDate() }} </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">Tìm kiếm</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</div>
