<button aria-label="Close" class="ant-modal-close ng-star-inserted" (click)="closeDialog()">
    <span class="ant-modal-close-x">
      <i nz-icon nzType="close" nzTheme="outline" class="anticon ant-modal-close-icon anticon-close"></i>
    </span>
</button>


<form nz-form [formGroup]="myForm" class="ant-advanced-search-form"style="border: none;">
  <div nz-row [nzGutter]="24" >
      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzFor]="'field'">Tên nhân Viên</nz-form-label>
          <nz-form-control>
            <app-input-text nz-input
              placeholder="Tên nhân Viên"
              [formControlName]="'staffName'"
            ></app-input-text>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzFor]="'field'">Điện Thoại</nz-form-label>
          <nz-form-control>
            <app-input-text nz-input
              placeholder="Điện Thoại"
              [formControlName]="'staffPhoneNumber'"
            ></app-input-text>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label [nzFor]="'field'">Địa Chỉ</nz-form-label>
          <nz-form-control>
            <app-input-text nz-input
              placeholder="Nhập Địa Chỉ"
              [formControlName]="'staffAddress'"
            ></app-input-text>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'field'">Email</nz-form-label>
          <nz-form-control>
            <app-input-text nz-input
              placeholder="Nhập Email"
              [formControlName]="'staffEmail'"
            ></app-input-text>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label [nzFor]="'field'">CCCD/CMND</nz-form-label>
          <nz-form-control>
            <app-input-text nz-input
              placeholder="Nhập Căng Cước Công Dân"
              [formControlName]="'staffIdentity'"
            ></app-input-text>
          </nz-form-control>
        </nz-form-item>
      </div>


      <div nz-col [nzSpan]="12">
        <app-input-image [formControlName]="'staffPicture'"></app-input-image>
      </div>

      <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzFor]="'field'">Chức vụ</nz-form-label>
          <app-input-select [items]="listRole" formControlName="staffRole"></app-input-select>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzFor]="'field'">Giới Tính</nz-form-label>
          <app-input-select [items]="listGender" formControlName="staffGender"></app-input-select>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzFor]="'field'">Cơ Sở</nz-form-label>
          <app-input-select [items]="listFacility" formControlName="staffFacility"></app-input-select>
        </nz-form-item>
      </div>
  </div>
</form>

<div class="flex justify-center">
  <button nz-button type="button" class="btn btn-default mr-5" (click)="closeDialog()">
    <i nz-icon nzType="close" nzTheme="outline"></i>Đóng
  </button>
  <!-- lưu và đóng -->
  <button *ngIf="data.mode !== 'view'" nz-button type="button" class="btn btn-primary" (click)="saveData()">
    <i class="icon-plus-circle2 mr-2"></i>
    Lưu và đóng
  </button>
</div>
